@import "variables.scss";

.btn {
  padding: $padding $padding * 2;
  background: $green-bg;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.m-auto{
  margin: auto;
}

.d-none {
  display: none !important;
}

.link-disabled {
  pointer-events: none !important;
  cursor: default !important;
  color: #888 !important;
  // background: #000 !important;
}
